<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="LotteryMachineService.MemberService">
        <endpoint address="" binding="basicHttpBinding" contract="LotteryMachineService.IMemberService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/LotteryMachineService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="LotteryMachineDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=LotteryMachineService.LotteryMachineDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>